*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  inline-size: 1140px;
  gap: 30px;
  padding: 133px 30px;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.content__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  block-size: 298px;
  overflow: scroll;
  overflow-x: hidden;
  margin-block-start: 20px;
  position: relative;
}

.content__details {
  inline-size: 399px;
  block-size: 529px;
}

.result__video-container {
  inline-size: 711px;
  block-size: 386px;
  margin-block-end: 16px;
  position: relative;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.content__list-item {
  display: flex;
  height: 298px;
  flex-direction: column;
  align-items: flex-start;
}

.content__list-item:not(:last-child) {
  margin-bottom: 26px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  background: url(../images/preview.png);
}

.content__video-card-description-container {
  inline-size: 200px;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}

.title {
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 2px;
  margin: 2px;
}

.content__video-card-title {
  font-family: Oswald;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  overflow: hidden;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-weight: 400;
  line-height: 90%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  position: relative;
  display: flex;
  width: fit-content;
  cursor: pointer;
  gap: 10px;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.search-form__textfield {
  appearance: none;
  min-inline-size: 225px;
  block-size: 27px;
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-weight: 400;
  color: rgba (255, 255, 255/0.7);
  background-color: transparent;
  border-inline-start: none;
  border-inline-end: none;
  border-block-start: 1px solid #fff;
  border-block-end: 1px solid #fff;
  cursor: pointer;
}

.search-form__pseudo-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  inline-size: 17px;
  block-size: 17px;
  outline: 1px solid #fff;
  background-color: transparent;
}

.search-form__pseudo-checkbox::before {
  inline-size: 15px;
  block-size: 15px;
  background-color: #fff;
  display: block;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: "";
}

.button {
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  font-family: "Fira Sans Condensed" sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: 1px solid #fff;
  border-radius: 0px;
}

.search-form__submit-button {
  inline-size: 194px;
  block-size: 34px;
  margin-block-start: 20px;
}

.more-button {
  inline-size: 399px;
  block-size: 34px;
}

.search-form__textfield:active {
  border-block-start: 0px;
  border-block-end: 0px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  border: 1px solid #fff;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background: #545050;
  text-decoration: none;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px double #fff;
}

.content__card-link_current {
  background: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  border: 1px double #fff;
}
